<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/example.js" defer></script>
    <title>Coronet</title>
</head>
<body>

    <main>

        <div id="landing">
            <div id="landing-text">
                <div id="landing-text-inner">
                    <h1>Coronet</h1>
                    <h2 id="generic">Minden egyben koronavírus applikáció</h2>
                    <a href="menu.html" class="btn">thing1</a> <!--hrefeket kicserélni-->

                    <a href="menu.html" class="btn">thing2</a>

                    <a href="menu.html" class="btn">thing3</a>

                    <a href="menu.html" class="btn">thing4</a>

                    <a href="menu.html" class="btn">thing5</a>

                    <a href="menu.html" class="btn">thing6</a>

                </div>
            </div>
        </div>

        <div id="counter-top">
            <h2>A következő kézmosásig:</h2>
        </div>

        <div id="counter">
            <h2 id="counterText"><%=cucc%></h2>
        </div>

        <div id="news">
            <div id="header">
                <h2 id="news">Hírek</h2>
            </div>

        </div>
    <main>

    <div id="footer">

        <p>Copyright Jeff 2020</p>
    </div>


</body>
</html>